frr version 7.5.1
frr defaults traditional
hostname 07923baf9898
log syslog informational
no ipv6 forwarding
hostname frr
service integrated-vtysh-config
!
router bgp {{local_as}}
 no bgp ebgp-requires-policy
 neighbor {{neighbor_ip}} remote-as {{remote_as}}
!
line vty
!
